*.pyc
*~
.*.swp
ChangeLog
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/missing
build-aux/py-compile
config.log
config.status
configure
ginger-*.tar.gz
ginger.spec
ginger.conf
po/POTFILES
po/gen-pot
rpm
ui/pages/help/*/*.html
